<nav class="navbar navbar-expand-lg navbar-dark  default-color lighten-4">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse container" id="navbarTogglerDemo01">
    {% if show_nav is not defined %}
      <ul class="navbar-nav mr-auto">

        {% if is_granted('ROLE_CREATOR') %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active btn btn-sm" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Configuracion Sistema
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Empresas</a>
                    <ul class="dropdown-menu">


                          <li><a class="dropdown-item" href="{{ path('registro_empresa') }}">Nueva Empresa</a></li>
                          <li><a class="dropdown-item" href="">Proceso Medio</a></li>
                          <li><a class="dropdown-item" href="">Proceso Fin</a></li>
         

                      <li><a class="dropdown-item" href="">Ver Procesos</a></li>
                               
                    </ul>
                  </li>

              </ul>
            </li>
        {% endif  %}
        {% if is_granted('ROLE_RESPONSABLE_DIAGRAMACION') %}
            <li class="nav-item dropdown">
              <a class="nav-link active btn btn-sm" href="{{ path('homepage') }}" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                Home
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active btn btn-sm" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Servicios
              </a>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{{ path('agregar_servicio') }}">Nuevo Servicio</a></li>
                  <li><a class="dropdown-item" href="{{ path('listado_servicios') }}">Listado Servicios</a></li>

                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Opciones</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item dropdown-toggle" href="#">Ciudades</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <li><a class="dropdown-item" href="{{ path('agregar_ciudad') }}">Nueva Ciudad</a></li>  
                                  <li><a class="dropdown-item" href="{{ path('listado_ciudad') }}">Listado Ciudades</a></li>                              
                            </ul>
                          </li>  
                          <li><a class="dropdown-item dropdown-toggle" href="#" id="submenuClientes">Clientes</a>
                            <ul class="dropdown-menu" aria-labelledby="submenuClientes">
                                  <li><a class="dropdown-item" href="{{ path('agregar_cliente') }}">Nuevo Cliente</a></li>  
                                  <li><a class="dropdown-item" href="{{ path('listado_clientes') }}">Listado Clientes</a></li>                              
                            </ul>
                          </li>  
                          <li><a class="dropdown-item dropdown-toggle" href="#" id="submenuTurnos">Turnos Horario</a>
                            <ul class="dropdown-menu" aria-labelledby="submenuTurnos">
                                  <li><a class="dropdown-item" href="{{ path('agregar_turno') }}">Nuevo turno</a></li>  
                                  <li><a class="dropdown-item" href="{{ path('listado_clientes') }}">Listado Clientes</a></li>                              
                            </ul>
                          </li>  
                    </ul>
                  </li>

              </ul>

            </li>
          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active btn btn-sm" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Diagramacion
              </a>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{{ path('diagramar_turno') }}">Diagramar Servicio</a></li>
                  <li><a class="dropdown-item" href="{{ path('ver_diagrama_servicios') }}">Servicios Diagramados</a></li>
                  <li><a class="dropdown-item" href="{{ path('comunicar_diagrama_servicios') }}">Comunicar Diagrama</a></li>
                  <li><a class="dropdown-item" href="{{ path('replicar_diagrama_servicios') }}">Replicar Diagrama</a></li>
              </ul>

            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active btn btn-sm" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tecnica
              </a>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{{ path('agregar_unidad') }}">Nueva Unidad</a></li>
                  <li><a class="dropdown-item" href="{{ path('listado_unidades') }}">Listado Unidades</a></li>
              </ul>

            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active btn btn-sm" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                RRHH
              </a>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{{ path('agregar_conductor') }}">Nuevo Conductor</a></li>
                  <li><a class="dropdown-item" href="{{ path('listar_conductor') }}">Listado Conductores</a></li>
              </ul>

            </li>
        {% endif %}
      </ul>
    {% endif %}
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="{{ path('logout')}}">Cerrar sesion</a>
        </div>
      </li>
    </ul>
  </div>
</nav>