{% extends '@App/base.html.twig' %}

{% block content %}
	{% if edit is defined %}
		<div class="h5 mt-5 mb-3">Modificar Horario</div>
	{% else %}
    	<div class="h5 mt-5 mb-3">Agregar Horarios a: {{ srv }}</div>
    {% endif %}
    <hr>
    {% include '@Gestion/messages.html.twig'  %}
    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate', 'class' : 'border border-light'}}) }}
	    <div class='form-row ml-4 mr-2 mt-2'>	 
	    	<div class=' col-lg-6 col-sm-12'>
			    {{ form_label(form.servicio) }}
			    {{ form_widget(form.servicio, { 'attr' : {'class' : 'form-control form-control-sm text-uppercase'}}) }}
			    {{ form_errors(form.servicio) }}
			</div>
	    	<div class=' col-lg-6 col-sm-12'>
			    {{ form_label(form.turno) }}
			    {{ form_widget(form.turno, { 'attr' : {'class' : 'form-control form-control-sm text-uppercase'}}) }}
			    <div class="text-danger">{{ form_errors(form.turno) }}</div>
			</div>
		</div>
	    <div class='form-row ml-4 mr-2 mt-2'>	 
	    	<div class=' col-lg-3 col-sm-12'>
			    {{ form_label(form.horaInicial, 'Hora Salida') }}
			    {{ form_widget(form.horaInicial, { 'attr' : {'class' : 'form-control form-control-sm'}}) }}
			    <div class="text-danger">{{ form_errors(form.horaInicial) }}</div>
			</div>

	    	<div class=' col-lg-3 col-sm-12'>
			    {{ form_label(form.duracion) }}
			    {{ form_widget(form.duracion, { 'attr' : {'class' : 'form-control form-control-sm text-uppercase'}}) }}
			    <div class="text-danger">{{ form_errors(form.duracion) }}</div>
			</div>	

		</div>
		{% if form.activo is defined %}
		    <div class='form-row ml-4 mr-2 mt-2'>	 
		    	<div class=''>
				    {{ form_label(form.activo) }}
				    {{ form_widget(form.activo) }}
				</div>
			</div>
		{% endif %}
		<div class='form-row ml-4 mr-2 mt-2 align-right'>
			{{ form_widget(form.guardar, { 'attr' : {'class' : 'btn btn-sm btn-default'}}) }}
		</div>
    {{ form_end(form) }}

    {% if edit is not defined %}
	    <div class="h5 mt-5 mb-3">Horarios Existentes: {{ srv }}</div>
		<table class="table table-hover table-bordered table-striped table-sm mt-2">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Turno</th>
		      <th scope="col">Hora Salida</th>
		      <th scope="col">Duracion</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for t in srv.turnos %}
		  		<tr>
		  			<td>{{ loop.index }}</td>
		  			<td>{{ t.turno|upper }}</td>
		  			<td>{{ t.horaInicial|date('H:i') }}</td>
		  			<td>{{ t.duracion|date('H:i') }}</td>
		  			<td class="text-center"><a href="{{ path('editar_horarios', { id : t.id }) }}" class="btn btn-sm btn-default">Editar</a></td>
		  		</tr>
		  	{% endfor %}
		  </tbody>
		</table>
		<a class="btn btn-sm btn-default" href="{{ path('listado_servicios') }}">Volver</a>
	{% endif %}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">


</script>
{% endblock %}

