{% extends '@App/base.html.twig' %}

{% block content %}
    <div class="h3 mt-5 mb-3">{{ label }} Servicio</div>
    <hr>
    {% include '@Gestion/messages.html.twig'  %}
    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate', 'class' : 'border border-light'}}) }}
	    <div class='form-row ml-4 mr-2 mt-2'>	 
	    	<div class=' col-lg-4 col-sm-12'>
			    {{ form_label(form.cliente) }}
			    {{ form_widget(form.cliente, { 'attr' : {'class' : 'form-control form-control-sm text-uppercase'}}) }}
			    {{ form_errors(form.cliente) }}
			</div>
	    	<div class=' col-lg-4 col-sm-12'>
			    {{ form_label(form.nombre) }}
			    {{ form_widget(form.nombre, { 'attr' : {'class' : 'form-control text-uppercase form-control-sm'}}) }}
			    <div class="text-danger">{{ form_errors(form.nombre) }}</div>
			</div>
	    	<div class=' col-lg-2 col-sm-12'>
			    {{ form_label(form.kmRecorrido) }}
			    {{ form_widget(form.kmRecorrido, { 'attr' : {'class' : 'form-control text-uppercase form-control-sm'}}) }}
			    <div class="text-danger">{{ form_errors(form.kmRecorrido) }}</div>
			</div>
		</div>
	    <div class='form-row ml-4 mr-2 mt-2'>	 
	    	<div class=' col-lg-4 col-sm-12'>
			    {{ form_label(form.sentido) }}
			    {{ form_widget(form.sentido, { 'attr' : {'class' : 'form-control form-control-sm text-uppercase'}}) }}
			    <div class="text-danger">{{ form_errors(form.sentido) }}</div>
			</div>
	    	<div class=' col-lg-4 col-sm-12'>
			    {{ form_label(form.tipoServicio) }}
			    {{ form_widget(form.tipoServicio, { 'attr' : {'class' : 'form-control form-control-sm text-uppercase'}}) }}
			    <div class="text-danger">{{ form_errors(form.tipoServicio) }}</div>
			</div>			
		</div>
	    <div class='form-row ml-4 mr-2 mt-2'>	    
	    	<div class=' col-lg-4 col-sm-12'>
			    {{ form_label(form.origen) }}
			    {{ form_widget(form.origen, { 'attr' : {'class' : 'form-control form-control-sm text-uppercase'}}) }}
			    <div class="text-danger">{{ form_errors(form.origen) }}</div>
			</div>    
	    	<div class=' col-lg-4 col-sm-12'>
			    {{ form_label(form.destino) }}
			    {{ form_widget(form.destino, { 'attr' : {'class' : 'form-control form-control-sm text-uppercase'}}) }}
			    <div class="text-danger">{{ form_errors(form.destino) }}</div>
			</div>
		</div>
		<div class='form-row ml-4 mr-2 mt-2 align-right'>
			{{ form_widget(form.guardar, { 'attr' : {'class' : 'btn btn-success'}}) }}
		</div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">


</script>
{% endblock %}

