{% extends onlyTable is not defined ? '@App/base.html.twig' : '@Gestion/emptyTemplate.html.twig' %}

{% block content %}
	{{ parent() }}
	{% if not onlyTable is defined %}
		<div class="h5 mt-5 mb-3">Ver Diagrama Servicios</div>
	    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate', 'class' : 'border border-light'}}) }}
		    <div class='form-row ml-4 mr-2 mt-2'>	 
		    	<div class=' col-lg-4 col-sm-12'>
				    {{ form_label(form.fecha) }}
				    {{ form_widget(form.fecha, { 'attr' : {'class' : 'form-control form-control-sm text-uppercase'}}) }}
				    {{ form_errors(form.fecha) }}
				</div>
			</div>
			<div class='form-row ml-4 mr-2 mt-2 align-right'>
				{{ form_widget(form.diagramar, { 'attr' : {'class' : 'btn btn-sm btn-default'}}) }}
			</div>
	    {{ form_end(form) }}

	    <hr>
	    {% include '@Gestion/messages.html.twig'  %}
	{% endif %}

    {% if ordenes is defined %}
	    <div class="h5 mt-2 mb-3">Servicios diagramados para el : {{ fecha|date('d/m/Y') }}</div>
		<table class="table table-hover table-bordered table-striped table-sm mt-2">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Cliente</th>
		      <th scope="col">Servicio</th>
		      <th scope="col">Hora Salida</th>
		      <th scope="col">Hora Llegada</th>
		       <th scope="col">Unidad</th>
		       {% if not onlyTable is defined%}
		      		<th scope="col"></th>
		       {% endif %}
		    </tr>
		  </thead>
		  <tbody>
		  	{% for o in ordenes %}
		  		<tr>
		  			<td>{{ loop.index }}</td>
		  			<td>{{ o.turno.servicio.cliente|upper }}</td>
		  			<td>{{ o.turno.servicio|upper }}</td>
		  			<td>{{ o.salida|date('d/m/Y - H:i') }}</td>
		  			<td>{{ o.llegada|date('d/m/Y - H:i') }}</td>
		  			<td class="text-right">{{ o.unidad }}</td>
		  			{% if not onlyTable is defined%}
		  				<td class="text-center">		  					
		  					<a href="{{ path('modificar_orden', { id : o.id }) }}" title="Modificar"><i class="far fa-edit"></i></a>
		  					<a href="{{ path('eliminar_orden_servicio', { id : o.id })}}"title="Eliminar"><i class="far fa-trash-alt"></i></a>
		  					<a title="Confirmar"><i class="far fa-check-square"></i></a>
		  				</td>
		  			{% endif %}
		  		</tr>
		  	{% endfor %}
		  </tbody>
		</table>
	{% endif %}

{% endblock %}

