{% extends '@App/base.html.twig' %}

{% block content %}
    <div class="h3 mt-5 mb-2">Listado de unidades</div>
    {% include '@Gestion/messages.html.twig'  %}
    <hr>

	<table class="table table-hover table-bordered table-striped table-sm">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Interno</th>
	      <th scope="col">Dominio</th>
	      <th scope="col">Marca</th>
	      <th scope="col">Modelo</th>
	      <th scope="col">Pax</th>
	      <th scope="col"></th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for s in unidades %}
	  		<tr>
	  			<td>{{ loop.index }} </td>
	  			<td>{{ s.interno}}</td>
	  			<td>{{ s.dominio|upper }}</td>
	  			<td>{{ s.chasisMarca|upper }}</td>
	  			<td>{{ s.anioModelo }}</td>
	  			<td>{{ s.capacidad }}</td>
	  			<td class="text-center">
	  					<a href="{{ path('editar_unidad', { id : s.id }) }}" class="btn btn-sm btn-default">Editar</a>
	  			</td>
	  		</tr>
	  	{% endfor %}
	  </tbody>
	</table>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">

</script>
{% endblock %}

